@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .metalic-text {
    background: linear-gradient(to right, #c0c0c0, #ffffff, #c0c0c0, #d3d3d3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  }

  .max-container {
    @apply mx-auto max-w-[1448px] px-6;
  }

  .group:hover .animate-infinite-slide-original {
    animation-play-state: paused;
  }

  .group:hover .animate-infinite-slide-copy {
    animation-play-state: paused;
  }

  .scale-item {
    @apply transition-transform duration-300 ease-in-out will-change-transform;
  }

  .scale-group:hover .scale-item {
    @apply scale-110;
  }

  .gradient-box::before {
    content: '';
    position: absolute;
    inset: 1px;
    background-color: #1b1c20;
    border-radius: inherit;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(221, 221, 221, 0.1);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* 말풍선 */
  .speech-bubble {
    position: relative;
    background: #2a2a2b;
    color: #fff;
    border-radius: 24px;
    margin-bottom: 12px;
    padding: 8px 16px;
  }

  .speech-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 14px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #2a2a2b;
    border-bottom: 0;
    border-left: 0;
    margin-left: -3.5px;
    margin-bottom: -6px;
  }

  @media (max-width: 424px) {
    .metalic-text {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    }
  }
}
